@use 'styles/mixins/mq' as *;

$bg-color-footer: var(--color-grey-5);
$bg-color-menu: var(--color-white-50);
$bd-color-bottom: var(--color-grey-2);
$tx-color-copyright: var(--color-grey-2);
$tx-color-link-hover: var(--color-primary-2);

.footer {
  background: $bg-color-footer;
  display: block;
}

.container {
  display: block;
  margin: 0 auto;
  max-width: var(--container-max-width);
  padding: 0 2rem;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem 0;
  width: 100%;

  @include mq-md {
    flex-direction: row;
    gap: 6rem;
  }
}

.logo {
  display: flex;
  flex-shrink: 0;

  img,
  svg {
    height: auto;
    max-height: 3rem;
    width: auto;
  }
}

.menu {
  flex: 1;

  @include mq-md {
    background: $bg-color-menu;
    border-radius: var(--radius-2);
    padding: 4rem;
  }
}

.mainNav {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-3);
  gap: 1rem;
}

.mainNavTitle {
  margin: 0 0 1rem;
}

.bottom {
  border-top: .1rem solid $bd-color-bottom;
  display: flex;
  flex-direction: column-reverse;
  font-size: var(--font-size-3);
  gap: 2rem;
  padding: 3rem 0;

  @include mq-md {
    align-items: center;
    flex-flow: row wrap;
    gap: 1rem 2rem;
    justify-content: space-between;
  }
}

.copyright {
  color: $tx-color-copyright;
}

.bottomNav {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--footer-bottom-nav-gap, 1rem 2rem);
}

.link {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus-visible {
    color: $tx-color-link-hover;
    text-decoration: underline;
  }

  &.current {
    color: $tx-color-link-hover;
    cursor: default;
    text-decoration: none;
  }
}
