@use 'styles/mixins/action' as *;
@use 'styles/mixins/anim' as *;

.modals {
  inset: 0;
  pointer-events: none;
  position: fixed;
  z-index: var(--z-index-4);
}

.modalBackdrop {
  align-items: center;
  background: var(--color-black-50);
  display: flex;
  inset: 0;
  justify-content: center;
  padding: 1rem;
  pointer-events: auto;
  position: fixed;

  @include anim-fade;

  &:not(:first-of-type) {
    background: transparent;
  }
}

.modal {
  background: var(--color-white);
  border-radius: var(--radius-3);
  box-shadow: 0 0.5rem 2rem rgb(0 0 0 / 30%);
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  max-width: 100%;
  position: relative;
  width: 33.5rem;

  @include anim-scale;
}

.modalHeader {
  align-items: center;
  border-bottom: 0.1rem solid var(--color-grey-5);
  color: var(--color-black);
  display: flex;
  flex-shrink: 0;
  font-size: var(--font-size-5);
  justify-content: space-between;
  padding: 2rem;
}

.modalBody {
  color: var(--color-black);
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-4);
  gap: 1rem;
  overflow-y: auto;
  padding: 2rem;
}

.close {
  @include action-close;

  right: 0.5rem;
  top: 0.5rem;
  z-index: var(--z-index-2);
}
