@use 'styles/mixins/mq' as *;

$bg-color-header: var(--color-white);
$tx-color-link: var(--color-black);
$tx-color-link-active: var(--color-primary-2);
$tx-color-link-active-contrast: var(--color-primary-contrast);
$bg-color-mobile-overlay: var(--color-black-50);
$bg-color-mobile-link: var(--color-grey-6);
$bg-color-mobile-link-active: var(--color-primary-2);
$bg-color-mobile-dropdown: var(--color-grey-5);
$bd-color-mobile-separator: var(--color-grey-5);
$tx-color-mobile-link-active: var(--color-white);
$bg-color-transparent-light-active: var(--color-white-10);
$bg-color-transparent-dark-active: var(--color-black-10);
$tx-color-transparent-light: var(--color-white);
$tx-color-transparent-dark: var(--color-black);
$bg-color-topbar: var(--color-grey-7);
$bg-color-topbar-transparent-light: var(--color-white-20);
$bg-color-topbar-transparent-dark: var(--color-black-10);
$bd-color-topbar: var(--color-grey-6);
$bg-color-mainbar-transparent-light: var(--color-white-10);
$bg-color-mainbar-transparent-dark: var(--color-black-05);
$bg-color-mainbar-dropdown: var(--color-white);
$bg-color-mainbar-link-active: var(--color-grey-6);

.header {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: var(--z-index-3);
}

.chevron {
  transition: transform var(--transition-default);
}

.chevronOpen {
  transform: rotate(180deg);
}

// TOP BAR

.topBar {
  background-color: $bg-color-topbar;
  display: none;
  transition: background-color var(--transition-default);

  @include mq-md {
    display: block;
  }

  .transparent:not(.scrolled) & {
    background-color: transparent;
  }

  .transparent.overlayTop-light:not(.scrolled) & {
    background-color: $bg-color-topbar-transparent-light;
  }

  .transparent.overlayTop-dark:not(.scrolled) & {
    background-color: $bg-color-topbar-transparent-dark;
  }
}

.topContainer {
  align-items: center;
  display: flex;
  font-size: var(--font-size-2);
  gap: 2rem;
  height: var(--height-top-menu);
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--container-max-width);
  padding: 0 2rem;

}

.topNav {
  align-items: center;
  display: flex;
  gap: 2rem;
}

.topLink {
  color: $tx-color-link;
  font-size: var(--font-size-3);
  text-decoration: none;

  &:hover,
  &:focus-visible {
    color: $tx-color-link-active;
    text-decoration: underline;
  }

  &.current {
    color: $tx-color-link-active;
    cursor: default;
    text-decoration: none;
  }
}

.topDropdownWrapper {
  position: relative;
}

.topDropdownTrigger {
  align-items: center;
  color: $tx-color-link;
  cursor: pointer;
  display: flex;
  font-size: var(--font-size-3);
  gap: 0.5rem;
  height: var(--height-top-menu);
  position: relative;
  text-decoration: none;

  .topDropdownWrapper:hover &,
  .topDropdownWrapper:focus-within & {
    background-color: transparent;
    color: $tx-color-link-active;
  }
}

.topDropdown {
  min-width: 15rem;
  opacity: 0;
  padding: 1rem 0 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 100%;
  transition:
    opacity var(--transition-default),
    visibility var(--transition-default);
  visibility: hidden;
  z-index: var(--z-index-5);

  &.isOpen {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
}

.topDropdownInner {
  background-color: $bg-color-topbar;
  border: .1rem solid $bd-color-topbar;
  border-radius: var(--radius-3);
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 2rem;
}

.topDropdownLink {
  background: none;
  color: var(--color-black);
  cursor: pointer;
  display: block;
  font-size: var(--font-size-3);
  line-height: var(--line-height-default);
  margin: 1rem 0 0;
  text-align: left;
  text-decoration: none;
  transition: background-color var(--transition-default);
  width: 100%;

  &:first-child {
    margin: 0;
  }

  &:hover:not(.current),
  &:focus-visible:not(.current) {
    color: $tx-color-link-active;
    text-decoration: underline;
  }

  &.current {
    color: $tx-color-link-active;
    cursor: default;
    text-decoration: none;
  }
}

// MAIN BAR

.mainBar {
  background-color: $bg-color-header;
  display: none;
  min-height: var(--height-main-menu);
  position: relative;
  transition: background-color var(--transition-default);
  z-index: var(--z-index-4);

  @include mq-md {
    display: block;
  }

  .transparent:not(.scrolled) & {
    background-color: transparent;
  }

  .transparent.overlayMain-light:not(.scrolled) & {
    background-color: $bg-color-mainbar-transparent-light;
  }

  .transparent.overlayMain-dark:not(.scrolled) & {
    background-color: $bg-color-mainbar-transparent-dark;
  }
}

.mainContainer {
  align-items: center;
  display: flex;
  gap: 2rem;
  height: var(--height-main-menu);
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--container-max-width);
  padding: 0 2rem;
}

.mainNav {
  align-items: center;
  display: none;
  gap: 1rem;

  @include mq-md {
    display: flex;
  }
}

.mainLogo {
  display: flex;
  flex-shrink: 0;

  img,
  svg {
    height: auto;
    max-height: 3rem;
    width: auto;
  }

}

.mainLink {
  align-items: center;
  background: none;
  border-radius: var(--radius-2);
  color: $tx-color-link;
  cursor: pointer;
  display: flex;
  font-size: var(--font-size-4);
  height: 4rem;
  padding: 0 2rem;
  text-decoration: none;

  &:hover,
  &:focus-visible {
    background-color: $bg-color-mainbar-link-active;
    color: $tx-color-link-active;
    text-decoration: none;
  }

  &.current {
    background: none;
    color: $tx-color-link-active;
    cursor: default;
  }

  &.icon {
    font-size: var(--font-size-6);

    &:hover,
    &:focus-visible {
      background-color: transparent;
      color: $tx-color-link-active;
    }

    .transparent.textLight:not(.scrolled) & {
      color: $tx-color-transparent-light;

      &:hover,
      &:focus-visible {
        background-color: transparent;
        color: $tx-color-link-active-contrast;
      }
    }

    .transparent.textDark:not(.scrolled) & {
      color: $tx-color-transparent-dark;

      &:hover,
      &:focus-visible {
        background-color: transparent;
        color: $tx-color-link-active-contrast;
      }
    }
  }
}

.mainDropdownWrapper {
  align-items: center;
  display: flex;
  height: var(--height-main-menu);
  position: relative;

  &:hover,
  &:focus-within {
    .chevron {
      transform: rotate(180deg);
    }

    .mainDropdown,
    .megaMenu {
      opacity: 1;
      pointer-events: auto;
      visibility: visible;
    }
  }
}

.mainDropdownTrigger {
  align-items: center;
  background: none;
  border-radius: var(--radius-2);
  color: $tx-color-link;
  cursor: pointer;
  display: flex;
  font-size: var(--font-size-4);
  gap: 0.5rem;
  height: 4rem;
  padding: 0 2rem;
  text-decoration: none;

  .mainDropdownWrapper:hover &,
  .mainDropdownWrapper:focus-within & {
    background-color: $bg-color-mainbar-link-active;
    color: $tx-color-link-active;
  }
}

.mainDropdownTriggerActive {
  color: $tx-color-link-active;
}

.mainDropdownCurrent {
  color: $tx-color-link-active;
}

.mainDropdownHasMega {
  position: static;
}

.mainDropdown {
  left: 0;
  min-width: 20rem;
  opacity: 0;
  padding: 1rem 0 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  transition:
    opacity var(--transition-default),
    visibility var(--transition-default);
  visibility: hidden;
  z-index: var(--z-index-5);

  &.isOpen {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
}

.mainDropdownInner {
  background: $bg-color-mainbar-dropdown;
  border-radius: var(--radius-2);
  color: $tx-color-link;
  padding: 2rem;
}

.megaMenu {
  left: 50%;
  max-width: var(--container-max-width);
  opacity: 0;
  padding: 1rem 2rem 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 100%;
  transform: translateX(-50%);
  transition:
    opacity var(--transition-default),
    visibility var(--transition-default);
  visibility: hidden;
  width: 100%;
  z-index: var(--z-index-5);

  &.isOpen {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
}

.megaMenuInner {
  background: $bg-color-mainbar-dropdown;
  border-radius: var(--radius-2);
  color: $tx-color-link;
  margin: 0 auto;
  padding: 2rem;

  @include mq-lg {
    padding: 4rem;
  }
}

.mainDropdownLink {
  background: none;
  border-radius: var(--radius-2);
  color: $tx-color-link;
  cursor: pointer;
  display: block;
  font-size: var(--font-size-3);
  padding: 1rem 0 0;
  text-align: left;
  text-decoration: none;
  transition:
    color var(--transition-default),
    background-color var(--transition-default);
  width: 100%;

  &:first-child {
    padding: 0;
  }

  &:hover:not(.current),
  &:focus-visible:not(.current) {
    color: $tx-color-link-active;
    text-decoration: underline;
  }

  &.current {
    color: $tx-color-link-active;
    cursor: default;
    text-decoration: none;
  }
}

// MOBILE

.mobile {
  display: block;
  position: relative;

  @include mq-md {
    display: none;
  }
}

.mobileOverlay {
  background-color: $bg-color-mobile-overlay;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition: opacity var(--transition-default);
  z-index: var(--z-index-3);

  @include mq-md {
    display: none;
  }

  &.isOpen {
    opacity: 1;
    pointer-events: auto;
  }
}

.mobileBar {
  align-items: center;
  background-color: $bg-color-header;
  display: flex;
  height: var(--height-mobile-menu);
  justify-content: space-between;
  padding: 0 2rem;
  transition: background-color var(--transition-default);

  .transparent:not(.scrolled) & {
    background-color: transparent;
  }
}

.mobileTop {
  align-items: center;
  display: flex;
  height: var(--height-mobile-menu);
  justify-content: space-between;
  padding: 2rem;
  position: relative;
  width: 100%;

  &::after {
    background: $bd-color-mobile-separator;
    content: '';
    display: block;
    height: .1rem;
    left: 50%;
    margin: auto;
    position: absolute;
    top: 100%;
    transform: translateX(-50%);
    width: calc(100% - 4rem);
  }
}

.mobileLogo {
  display: flex;
  flex-shrink: 0;
}

.mobileToggle {
  align-items: center;
  background: none;
  border-radius: var(--radius-2);
  color: $tx-color-link;
  cursor: pointer;
  display: flex;
  padding: 0.8rem;

  &:hover,
  &:focus-visible {
    color: $tx-color-link-active;
  }
}

.mobileMenu {
  background-color: $bg-color-header;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  inset: var(--height-mobile-menu) 0 0 auto;
  max-width: 100%;
  overflow-y: auto;
  position: fixed;
  top: 0;
  transform: translateX(100%);
  transition: transform var(--transition-default);
  width: 48rem;
  z-index: var(--z-index-4);

  @include mq-md {
    display: none;
  }

  &.mobileMenuOpen {
    transform: translateX(0);
  }
}

.mobileNav {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 0 2rem;
}

.mobileLink {
  background-color: $bg-color-mobile-link;
  border-radius: var(--radius-2);
  color: $tx-color-link;
  display: block;
  font-size: var(--font-size-4);
  padding: 1rem 2rem;
  text-decoration: none;

  &:hover,
  &:focus-visible {
    background-color: $bg-color-mobile-link-active;
    color: $tx-color-mobile-link-active;
  }

  &.current {
    background-color: $bg-color-mobile-link;
    color: $tx-color-link-active;
  }
}

.mobileDropdownWrapper {
  border-radius: var(--radius-2);
}

.mobileDropdownTrigger {
  align-items: center;
  background-color: $bg-color-mobile-link;
  border-radius: var(--radius-2);
  color: $tx-color-link;
  cursor: pointer;
  display: flex;
  font-size: var(--font-size-4);
  gap: 1rem;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  text-align: left;
  text-decoration: none;
  width: 100%;

  &.isOpen {
    background-color: $bg-color-mobile-dropdown;
  }

  &:hover,
  &:focus-visible {
    background-color: $bg-color-mobile-link-active;
    color: $tx-color-mobile-link-active;
  }
}

.mobileDropdown {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows var(--transition-default);

  &.isOpen {
    grid-template-rows: 1fr;
    padding: 0.5rem 0 0;
  }
}

.mobileDropdownInner {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  overflow: hidden;
}

.mobileDropdownLink {
  background-color: $bg-color-mobile-dropdown;
  border-radius: var(--radius-2);
  color: $tx-color-link;
  display: block;
  padding: 1rem 2rem;
  text-decoration: none;

  &:hover,
  &:focus-visible {
    background-color: $bg-color-mobile-link-active;
    color: $tx-color-mobile-link-active;
    text-decoration: none;
  }

  &.current {
    background-color: $bg-color-mobile-dropdown;
    color: $tx-color-link-active;
  }
}

// TRANSPARENT OVERRIDES

.transparent:not(.scrolled) {
  &.textLight {
    .topLink,
    .topDropdownTrigger,
    .mainLink,
    .mainDropdownTrigger,
    .mobileBar .mobileToggle {
      color: $tx-color-transparent-light;
    }

    .mainLink:hover,
    .mainLink:focus-visible,
    .mainDropdownWrapper:hover .mainDropdownTrigger,
    .mainDropdownWrapper:focus-within .mainDropdownTrigger {
      background-color: $bg-color-transparent-light-active;
      color: $tx-color-transparent-light;
    }

    .mainDropdownWrapper:hover .chevron,
    .mainDropdownWrapper:focus-within .chevron,
    .topDropdownWrapper:hover .chevron,
    .topDropdownWrapper:focus-within .chevron {
      color: $tx-color-transparent-light;
    }

    .topDropdownWrapper:hover .topDropdownTrigger,
    .topDropdownWrapper:focus-within .topDropdownTrigger {
      color: $tx-color-transparent-light;
    }
  }

  &.textDark {
    .topLink,
    .topDropdownTrigger,
    .mainLink,
    .mainDropdownTrigger,
    .mobileBar .mobileToggle {
      color: $tx-color-transparent-dark;
    }

    .mainLink:hover,
    .mainLink:focus-visible,
    .mainDropdownWrapper:hover .mainDropdownTrigger,
    .mainDropdownWrapper:focus-within .mainDropdownTrigger {
      background-color: $bg-color-transparent-dark-active;
      color: $tx-color-transparent-dark;
    }

    .mainDropdownWrapper:hover .chevron,
    .mainDropdownWrapper:focus-within .chevron,
    .topDropdownWrapper:hover .chevron,
    .topDropdownWrapper:focus-within .chevron {
      color: $tx-color-transparent-dark;
    }

    .topDropdownWrapper:hover .topDropdownTrigger,
    .topDropdownWrapper:focus-within .topDropdownTrigger {
      color: $tx-color-transparent-dark;
    }
  }
}